venv/
data/CHU_UNI2_embeds/
data/CHU_UNI2_embeds_balanced/
data/IHC4BC_224_embeds/
data/IHC4BC_224_embeddings/
data/IHC
data/splits_ihc4bc/her2/
data/splits_ihc4bc/Labels/
notebooks/eval_outputs/
notebooks/eval_outputs_multimodal/
notebooks/figures/
data/HER2MATCH_GIGAPATH_embeds/
data/splits/
src/outputs/
src/multirun/
multirun/
outputs/
data/HER2MATCH_224_UNI2_embeds
*.pyc
data/splits_heki67/
data/HEHI67_224_embeddings